
header h2, h3 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

main {
    /* height: 100%; */
    position: relative;
    z-index: 2;
    padding: 0 10px;
    margin: 0 10px;
}

#main-content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0;
    padding: 0;
    /* align-items: center; */
    text-align: center;
}

#main-content li{
    list-style: none;
    background-color: rgba(229, 220, 220, 0.427);
    color: white;
    font-size: 2.3rem;
    box-shadow: 8px 8px 8px rgb(255, 234, 0);
}
li:nth-of-type(1)
{
    grid-column: 1 / span 2;
}

@media (max-width: 58rem) {
    header h2 {
        font-size: 2.5rem;
    }
    header h3 {
        font-size: 2rem;
    }
    header h1, h2, h3 {
        line-height: 1;
    }
    #main-content ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: none;
    }
    #main-content li {
        font-size: 1.5rem;
    }
    #main-content li:nth-of-type(1) {
        grid-column: auto;
    }
}

